<p>
  <strong>Base:</strong>
  <%= @exchange_combination.base %>
</p>

<p>
  <strong>Target:</strong>
  <%= @exchange_combination.target %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @exchange_combination.amount %>
</p>

<p>
  <strong>Wait:</strong>
  <%= @exchange_combination.wait %>
</p>

<p>
  <strong>Historical rates</strong>
  <%= line_chart rearrange_data_for_chartkick(@history), min: min_value(@history), max: max_value(@history), download: true %>
</p>

<p>
  <strong>Predicted rates</strong>
  <%= line_chart rearrange_data_for_chartkick(@predictions = get_arma(@history, @exchange_combination.wait, @exchange_combination.amount)), min: min_value(@predictions), max: max_value(@predictions), download: true %>
</p>

<table class="table table-condensed">
  <thead>
  <tr>
    <th>Year</th>
    <th>Week</th>
    <th>Rate</th>
    <th>Expected amount</th>
    <th>Profit/ Loss</th>
    <th>Rank</th>
  </tr>
  </thead>

  <tbody>
  <% @predictions.each do |prediction| %>
      <tr>
        <% profit = determine_profit_or_loss(prediction[:profit])%>
        <% rank = prediction[:rank] %>
        <td><%= get_year(prediction[:date]) %></td>
        <td><%= get_week_of_the_year(prediction[:date]) %></td>
        <td><%= sprintf('%.2f', prediction[:rate]) %></td>
        <td><%= sprintf('%.2f', prediction[:rate].to_f * @exchange_combination.amount.to_i).to_s %></td>
        <% if profit.include? 'Gain' %>
            <td class="alert-success"><%= profit %> <%= @exchange_combination.target %></td>
        <% elsif profit.include? 'Loss' %>
            <td class="alert-danger"><%= profit %> <%= @exchange_combination.target %></td>
        <% else %>
            <td><%= profit %></td>
        <% end %>
        <% if rank.between?(1, 3) %>
            <td class="alert-warning"><%= rank %></td>
        <% else %>
            <td></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<p>
  <strong>Best day to exchange:</strong>
  <%= get_best_day(@predictions) %>
</p>

<p>
  <strong>Amount expected:</strong>
  <%= sprintf('%.2f', max_value(@predictions) * @exchange_combination.amount.to_i).to_s + ' ' + @exchange_combination.target %>
</p>

<% if @exchange_combination.user == current_user %>
  <%= link_to 'Edit', edit_exchange_combination_path(@exchange_combination) %> |
<% end %>
<%= link_to 'Back', exchange_combinations_path %>
